@font-face {
	font-family: 'social';
	src:url('../fonts/social.eot?-n6nova');
	src:url('../fonts/social.eot?#iefix-n6nova') format('embedded-opentype'),
		url('../fonts/social.woff?-n6nova') format('woff'),
		url('../fonts/social.ttf?-n6nova') format('truetype'),
		url('../fonts/social.svg?-n6nova#social') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'social';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 50px;
	font-size: 40px;
	color: #888;
	transition: all 0.4s ease-out;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-at:before {
	content: "\e607";
	color: #29F;
	font-size: 20px;
}

.icon-envelope:before {
	content: "\e608";
	color: #444;
}

.icon-mobile:before {
	content: "\e60b";
	color: #444;
}

.icon-phone:before {
	content: "\e60c";
	color: #444;
}

/* Social Networking */
.icon-twitter:before {
	content: "\e609";
}

.menu ul li a.icon-twitter:hover
{
	background: #55acee;
	color: white;
}


.icon-github:before {
	content: "\e601";
}

.menu ul li a.icon-github:hover
{
	background: #444;
	color: #eee;
}

.icon-home:before {
	content: "\e604";
	color: rgba(0, 0, 0, 0.4);
	line-height: 25px;
	font-size: 25px;
	margin-right: 0.5em;
}

.icon-facebook:before{
	content: "\e600";
}

.menu ul li a.icon-facebook:hover
{
	background: #3b5998;
	color: white;
}

.icon-linkedin:before {
	content: "\e605";
}

.menu ul li a.icon-linkedin:hover
{
	background: #44acff;
	color: white;
}


.icon-google-plus:before {
	content: "\e602";
}

.menu ul li a.icon-google-plus:hover
{
	background: #F00;
	color: white;
}

.icon-dot:before {
	content: "\e603";
	color: #F80;
	vertical-align: bottom;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

body
{
	background: #22a2D8;
	font-family: 'Open sans';
	font-size: 16px;
}

footer
{
	background: #eee;
	border-radius: 1em 1em 0 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	display: block;
	padding: 1em 0.2em;
}

footer p
{
	color: #444;
	font-size: 1.2em;
	margin: 0;
}

header
{
	background: #eee;
	border-radius: 1em;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	margin: 0.8em 0 0 0;
}

header .info
{
	font-size: 16px;	
	padding: 0.2em;
}

header .info .title
{
	color: #323;
	text-align: center;
}

header .info .description
{
	background: rgba(25,135,225,1);
	border-bottom: 3px solid #ccc;
	border-radius: 0.8em 0.8em 1em;
	color: white;
	font-size: 1em;
	font-weight: normal;
	padding: 1em 1.5em;
	text-align: justify;
}

header .social
{
	margin: 0 auto;
	text-align: center;
	width: 95%;
}

header .social .avatar, header .social .menu
{
	display: inline-block;
	vertical-align: middle;
}

header .social .menu .follow
{
	color: #f40;
	font-size: 1.5em;
}

header .social .menu ul
{
	margin: 1em 0;
	padding: 0;
}

header .social .menu ul li
{
	display: inline-block;
	list-style: none;
}

header .social .menu ul li:nth-child(even){
	margin: 0 0.2em;
}

header .social .menu ul li a
{
	background: #fff;
	border-radius: 50%;
	display: block;
	height: 50px;
	padding: 0.3em;
	text-align: center;
	text-decoration: none;
	width: 50px;
}

header .social .avatar {
	margin: 0 1em;
	position: relative;
}

header .social .avatar figcaption
{
	color: #f40;
	font-size: 1.1em;
	text-align: center;
}

header .social .avatar img
{
	border-radius: 50%;
	width: 80px;
}

header .social .avatar .nota
{
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 15px solid rgba(25,135,225,1);
	content: "";
	left: 20%;
	position: absolute;
	top: -30px;
}

nav
{
	margin: 0.4em 0;
}

nav ul
{
	margin: 0;
	text-align: center;
}

nav ul li
{
	display: inline-block;
	list-style: none;
	margin-right: 0.5em;
	padding: 0.6em 0;
}

nav ul li a
{

	background: #3dc264;
	border-radius: 5px;
	color: #fefefe;
	font-size: 14px;
	font-weight: normal;
	padding: 0.4em 0.6em;
	text-decoration: none;
	transition: all 0.4s ease-out;
}

nav ul li a:hover
{

	background: white;
	border-radius: 0;
	color: rgba(0,0,0,0.8);
	font-weight: normal;
	padding: 0.4em 0.6em;
}

section 
{
	border-radius: 1em;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	margin-bottom: 1em;
}

strong
{
	font-style: italic;
	text-decoration: underline;
}

.container
{
	margin: 0 auto;
	padding: 0 auto;
	width: 100%;
}


@media screen and (min-width :720px){
	.container
	{
		width: 85%;
	}

	header .avatar
	{
		margin-left: 5em;
	}

	header .info .description
	{
		width: 75%;
		margin: 0.5em auto;
	}

	.home .personal_information
	{
		margin: 0;
		padding: 0;
	}	

	.home .personal_information .info
	{
		background: red;
		width: 75%;
	}	
	.home .personal_information .contact
	{
		margin: 0 auto;
		width: 75%;
	}

}

@media screen and (max-width: 550px){
	[class^="icon-"], [class*=" icon-"] {
		font-size: 20px;
		line-height: 30px;
	}
	[class$="-dot"] {
		font-size: 40px;
		list-style: 40px;
	}

	header .social .menu ul li a{
		height: 38px;
		padding: 0.2em;
		width: 38px;
	}

	header .social .avatar
	{
		margin: 0;
	}

	header .info .description
	{
		font-size: 16px;
	}

	header .social .avatar .nota
	{
		top: -20px;
	}

	footer p
	{
		font-size: 1em;
	}
}

@media screen and (max-width: 720px){
	header .social .avatar .nota
	{
		display: none;
	}
	
	.page h2
	{
		min-width: 98%;
	}

	.education .type
	{
		margin: 0 1em;
	}

	.skills .skill .category
	{
		display: block;
		min-width: 100%;
	}

	.skills .skill .category p
	{
		display:  inline-block;
	}

}

/* all pages */
.page {
	background: #eee;
	border-radius: 1em;
	padding: 0.5em;
}

.page h3
{
	color: #333;
	font-size: 24px;
	font-weight: normal;
	text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.5);
	margin: 0.3em 0;	
}

.page h2
{
	border-bottom: 2px solid #aaa;
	border-radius: 0 0.6em 0.6em 0;
	box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.8);
	color: #777;
	font-size: 2em;
	margin: 0 auto;
	text-align: center;
	text-shadow: 2px 1px 4px rgba(185, 205, 175, 0.8);
	width: 90%;
}

/* Education page */
.education .type
{
	padding: 0.1em 1.5em;
	margin: 0 auto;
	width: 85%;
}

.education .type .education_info ,
.education .type .education_logo
{
	display: inline-block;
	vertical-align: top;
}

.education .type .education_info
{
	margin-left: 1.1em;
}

.education .type .education_info p
{
	line-height: 54px;
	margin: 0;
}

.education .type .education_info p span
{
	text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
}

.education .type .education_logo
{
	margin: 0;
	float: right;
}

.education .type .education_logo a,
{
	color: rgb(53, 62, 86);
	font-size: 13px;
}

.education .superior .education_logo img
{
	border-radius: 50%;
	width: 113px;
}

.education .online .education_logo img
{
	width: 130px;
}

.education .superior .education_logo a,
.education .online .education_logo a
{
	display: block;
	text-align: center;
}

/* Skills page */

.skills .development .technologies .category
{
	display: inline-block;
	vertical-align: top;
	width: 29%;
	margin: 1%;
}

.skills .management .category
{
	display: inline-block;
	vertical-align: top;
	width: 29%;
	margin: 1%;
}

.skills .category
{
	position: relative;
}

.skills .category h4
{
	margin: 0.4em 0 0 1em;
	color: rgb(77, 130, 187);
	cursor: pointer;
	border-bottom: 1px solid rgba(0,0,0,0.8);
	transition: all 0.4s ease-out;
	background: #ccc;
	border-radius: 0.4em 0.4em 0 0;
	padding: 0 0.5em;
}

.skills .category p
{
	font-size: 0.8em;
	line-height: 50px;
	vertical-align: middle;
	margin: 0;
	font-size: 14px;
	text-shadow: 0px 1px 0px rgba(205,245,235,0.6);
}

.skills .category .box-hover
{
	position: absolute;
	top: 25px;
	left: 1em;
	width: 94%;
	margin: 0 auto;
	display: none;
	background: #4BF;
	border-radius: 0 0 0.7em 0.7em;
	color: #fff;
	z-index: 10;
}

.skills .category .box-hover .more-info
{
	padding: 0.2em 1.2em;
	line-height: 25px;
	text-align: justify;
	font-size: 0.9em;
}

.skills .skill
{
	padding: 0.1em 1.5em;
	margin: 0 auto;
	width: 85%;
}

/* information page */
.home .personal_information
{	
	padding: 0.3em 0 ;
}

.home .personal_information .info
{
	background: rgba(25,135,225,1);
	text-align: justify;
	padding: 1em 1.5em;
	color: #fff;
	border-radius: 1em;
	margin: 0.8em auto;
	font-size: 1em;
	border-bottom: 3px solid #ccc;
	border-radius: 0.8em 0.8em 1em;
}

.home .personal_information .contact
{
	padding: 0.1em;
}

.home .personal_information .contact p
{
	font-size: 1em;
	text-align: left;
	margin: 0.6em 0;
	color: #29d;
	font-weight: bold;
	display: block;
	text-align: center;
	vertical-align: middle;
	background: #fff;
	border-radius: 0.6em;
	width: 100%;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

.home .personal_information .contact p span
{
	text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
	margin: 0 0.2em;
	vertical-align: bottom;
}

.home .personal_information .contact span:last-child
{
	margin: 0 0.2em;
}
