@font-face{font-family:'social';src:url("../fonts/social.eot?-n6nova");src:url("../fonts/social.eot?#iefix-n6nova") format('embedded-opentype'),url("../fonts/social.woff?-n6nova") format('woff'),url("../fonts/social.ttf?-n6nova") format('truetype'),url("../fonts/social.svg?-n6nova#social") format('svg');font-weight:normal;font-style:normal}
[class^="icon-"],[class*=" icon-"]{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;color:#888;font-family:'social';font-size:35px;font-style:normal;font-variant:normal;font-weight:normal;line-height:50px;speak:none;text-transform:none;transition:all .4s ease-out}
.icon-at:before{content:"\e607";color:#fff}
.icon-dot:before{content:"\e603";color:#f80;vertical-align:bottom;text-shadow:1px 1px 2px rgba(0,0,0,0.7)}
.icon-envelope:before{content:"\e608";color:#fff;vertical-align:top}
.icon-mobile:before{content:"\e60b";color:#fff;font-size:1.6em;margin-right:.2em}
.icon-phone:before{content:"\e60c";color:#fff;font-size:1.6em;margin-right:.2em}
.menu ul li a.icon-twitter:before{content:"\e604"}
.menu ul li a.icon-twitter:hover{background:#55acee;color:#fff}
.menu ul li a.icon-github:before{content:"\e601"}
.menu ul li a.icon-github:hover{background:#444;color:#eee}
.menu ul li a.icon-facebook:before{content:"\e600"}
.menu ul li a.icon-facebook:hover{background:#3b5998;color:#fff}
.menu ul li a.icon-linkedin:before{content:"\e605"}
.menu ul li a.icon-linkedin:hover{background:#44acff;color:#fff}
.menu ul li a.icon-google-plus:before{content:"\e602"}
.menu ul li a.icon-google-plus:hover{background:#f00;color:#fff}
body{background:#22a2d8;font-family:'Open sans';font-size:16px}
footer{background:#eee;border-radius:1em 1em 0 0;bottom:0;margin-top:1.4em;padding:1em 0;text-align:center;}
footer p{color:#444;font-family:'Nunito',Arial;font-size:1.1em;font-weight:100;margin:0;padding:.4em 0}
header{background:#eee;border-radius:1em;box-shadow:3px 3px 5px rgba(0,0,0,0.5);margin:.8em 0 0 0;}
header .info{font-size:1em;padding:.1em;}
header .info .title{color:#555;font-family:'Nunito',Arial;font-size:1.8em;font-weight:200;margin:.1em;text-align:center}
header .info .description{background:#1987e1;border-bottom:3px solid #ccc;border-radius:.8em .8em 1em;color:#fff;font-size:1em;font-weight:normal;margin:.5em auto;padding:1em 1.5em;text-align:justify}
header .social{margin:0 auto;padding:.5em 0;text-align:center;width:95%;}
header .social .menu .follow{color:#f40;font-size:1.5em}
header .social ul{margin:1em 0;padding:0;}
header .social ul li{display:inline-block;list-style:none;}
header .social ul li:nth-child(even){margin:0 .2em}
header .social ul a{background:#fff;border-radius:50%;display:block;height:50px;padding:.3em;text-align:center;text-decoration:none;width:50px}
header .social .avatar{margin:0 1em;position:relative;}
header .social .avatar figcaption{color:#f40;font-size:1.1em;text-align:center}
header .social .avatar img{border-radius:50%;width:80px}
header .social .avatar .nota{border-left:30px solid transparent;border-right:30px solid transparent;border-top:15px solid #1987e1;content:"";left:20%;position:absolute;top:-35px}
header .social .avatar,header .social .menu{display:inline-block;vertical-align:middle}
nav{margin:.7em 0;}
nav ul{margin:0;text-align:center;}
nav ul li{display:inline-block;list-style:none;margin-right:.5em;padding:.6em 0;}
nav ul li a{background:#3dc264;border-radius:5px;color:#fefefe;font-size:14px;padding:.4em .6em;text-decoration:none;transition:all .4s ease-out;}
nav ul li a:hover{background:#fff;border-bottom:1px solid #3dc264;border-radius:0;color:rgba(0,0,0,0.8)}
section{border-radius:1em;box-shadow:3px 3px 5px rgba(0,0,0,0.5);margin-bottom:1em}
strong{text-decoration:underline}
.active{background:#fff;border-bottom:1px solid #3dc264;border-radius:0;color:rgba(0,0,0,0.8)}
.container{margin:0 auto;width:100%}
.page{background:#eee;border-radius:1em;padding:.8em .5em;}
.page h2{border-bottom:2px solid #aaa;border-radius:0 .6em .6em 0;box-shadow:1px 0 2px rgba(0,0,0,0.8);color:#777;font-size:2em;margin:0 auto;text-align:center;text-shadow:-5px 0 0 rgba(185,205,175,0.6);width:90%}
.page h3{color:#333;font-size:24px;font-weight:normal;margin:.3em 0;text-shadow:1px 2px 0 rgba(0,0,0,0.5)}
.education .type{margin:0 auto;padding:.1em 1.4em;width:85%;}
.education .type .link-mobile{background:#f84;border-radius:.4em;box-shadow:2px 2px 4px rgba(40,40,40,0.8);color:#fff;display:none;float:right;font-size:.7em;margin-top:-40px;padding:.2em .7em;text-decoration:none;transition:all .6s ease-in-out;}
.education .type .link-mobile:hover{transform:translate(2px,2px);box-shadow:0 0 0}
.education .type .education_info{margin-left:1.1em;}
.education .type .education_info p{line-height:54px;margin:0;}
.education .type .education_info p span{text-shadow:0 1px 1px rgba(0,0,0,0.6)}
.education .type .education_logo{margin:0;float:right;}
.education .type .education_logo a{font-size:.8em;color:#f86}
.education .superior .education_logo img{border-radius:50%;width:113px}
.education .online .education_logo img{width:130px}
.education .type .education_info,.education .type .education_logo{display:inline-block;vertical-align:top}
.education .superior .education_logo a,.education .online .education_logo a{background:#f84;border-radius:.4em;box-shadow:2px 2px 4px rgba(40,40,40,0.8);color:#fff;display:block;font-size:.7em;margin-top:.5em;padding:.2em .7em;text-align:center;text-decoration:none;transition:all .6s ease-in-out}
.education .superior .education_logo a:hover,.education .online .education_logo a:hover{transform:translate(2px,2px);box-shadow:0 0 0}
.skills .category{display:inline-block;margin:1%;position:relative;vertical-align:top;width:29%;}
.skills .category h4{background:#1987e1;border-bottom:1px solid rgba(0,0,0,0.8);border-radius:.4em .4em 0 0;color:#fff;cursor:pointer;margin:.4em 0 0 0;padding:0 .5em;text-align:center;transition:all .5s ease-in;}
.skills .category h4:hover{background:#eee;border-radius:0;color:#1987e1}
.skills .category h4 .arrow{border-left:6px solid transparent;border-right:6px solid transparent;border-top:7px solid #eee;content:"";float:right;font-size:1em;margin-top:.5em;display:none}
.skills .category p{font-size:.9em;line-height:50px;margin:0;text-shadow:0 1px 0 rgba(205,245,235,0.6);vertical-align:middle}
.skills .category .box-hover{background:#1987e1;border-radius:0 0 .7em .7em;color:#fff;display:none;position:absolute;right:0;top:29px;width:100%;z-index:10;}
.skills .category .box-hover .more-info{font-size:.9em;line-height:25px;padding:.2em 1.2em;text-align:justify}
.skills .skill{margin:0 auto;padding:.1em 1.5em;width:85%}
.home .personal_information{padding:.3em 0;}
.home .personal_information .info{background:#fff;border-bottom:1px solid #1987e1;border-top:3px solid #1987e1;box-shadow:2px 3px 5px rgba(0,0,0,0.6);color:#444;font-size:1em;margin:.8em auto;padding:1em 1.5em;text-align:justify;text-shadow:1px 0 0 rgba(0,0,0,0.2)}
.home .personal_information .contact{padding:.1em;}
.home .personal_information .contact p{background:#666;border-radius:.6em;box-shadow:1px 0 1px #000;color:#fff;display:block;font-size:1em;height:45px;line-height:50px;margin:.8em 0;text-align:center;vertical-align:top;width:100%;}
.home .personal_information .contact p span{margin:0 .4em;text-shadow:0 1px 1px rgba(0,0,0,0.6);vertical-align:middle}
.home .personal_information .contact p span:last-child{margin:0 .2em;font-size:1.1em}
@media screen and (min-width: 720px){header .info .description{margin:.5em auto;width:75%}
header .social .avatar{margin-left:5em}
.container{width:85%}
.home .personal_information{margin:0;padding:0;}
.home .personal_information .contact{margin:0 auto;width:75%}
.home .personal_information .info{width:75%}
}@media screen and (max-width: 550px){[class^="icon-"],[class*=" icon-"]{font-size:25px;line-height:40px}
[class$="-dot"]{font-size:40px;line-height:52px;vertical-align:top}
[class$="-at"],[class$="-mobile"],[class$="-phone"]{font-size:1.6em;line-height:35px}
[class$="-envelope"]{font-size:35px;line-height:40px}
header{margin-top:0;border-radius:0;}
header .info .description{font-size:1em}
header .social .avatar{margin:0}
header .social .menu ul li a{height:38px;padding:.2em;width:38px}
.education .type .education_info p span:last-child{display:block;margin-left:2.5em}
.education .type .education_logo{display:none}
.education .type .link-mobile{display:inline-block}
}@media screen and (max-width: 720px){header .social .avatar .nota{display:none}
.education .type{margin:0 1em}
.page h2{min-width:98%}
.skills .skill .category{width:100%;margin-bottom:.8em;}
.skills .skill .category h4 .arrow{border-left:6px solid transparent;border-right:6px solid transparent;border-top:7px solid #eee;content:"";display:block;float:right;font-size:1em;margin-top:.5em}
.skills .skill .category p{display:inline-block}
}